p{
    margin: 0;
    padding: 0;
}
//text
.text_upper-case{
    text-transform: uppercase;
}


//receipt
.receipt{
  position: relative;
  left: -10mm;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80mm;
  background-color: white;

  font-family: monospace;
}
.chceck_separator{
overflow: hidden;
}
.chceck_separator::after{
  content: "======================================";
  white-space: nowrap;
}
.chceck_separator-thin{
  overflow: hidden;

}
.chceck_separator-thin::after{
  content: "--------------------------------------";
  white-space: nowrap;
}
//item
.item_center{
  align-self: center;
}
.item_left{
  align-self: flex-start;
}
.item_right{
  align-self: flex-end;
}
.content-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-justify_between{
  display: flex;
  justify-content: space-between;
}
//prudcts
.prudcts_wrapper{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.product{
  display: flex;
  flex-direction: row;

}
.product-code{
align-self: flex-start;
}
.product-title{
  align-self: stretch;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.product-price{
  align-self: flex-start;
  justify-self: flex-start;
}
