<section class="invoice-wrapper">
  <div class="invoice">
    <h1 class="invoice-title">VVS-EKSPERTEN.DK</h1>
    <div class="invoice-info">
      <div class="customer-wrapper">
        <div class="customer">
          <div class="customer-info">
            <p>Andreas Therkelsen</p>
            <p>Anna Knudsens vej 16</p>
            <p>Losning 8723</p>
            <p>Danmark</p>
          </div>
          <div class="customer-delivery-address">
            <p class="text-bold">leveringsadress</p>
            <p>Raaby & Rosedal</p>
            <p>Odumvej 6C</p>
            <p>Hadsten, 8370</p>
            <p>Danmark</p>
            <p>Tif.: <span>30269312</span></p>
            <p>E-mail: at_andreas@hotmail.com</p>
            <p>Att.: Andreas Therkelsen</p>
          </div>
        </div>
        <p class="invoce-number">Factura 45107032</p>
      </div>
      <div class="shop">
        <p class="content-justify_between">
          <span class="text-bold">VVS Eksperten A/S</span>
          <span>Side 1</span>
        </p>
        <p>Mimersvej 2</p>
        <p>8722 Hedensted</p>
        <table>
          <tr class="cell_height">
            <td>Telefon</td><td>75890303</td>
          </tr>
          <tr><td>CVR-nr.</td><td>25189000</td></tr>
          <tr><td>Bank</td><td>Sydbank7030-1291145</td></tr>
          <tr><td>Ordrenr.</td><td>45211368</td></tr>
          <tr><td>Bogforingsdato</td><td>13-01-21</td></tr>
          <tr><td>Forfaldsdato</td><td>13-01-21</td></tr>
          <tr><td>Saelger</td><td>Jan F</td></tr>
          <tr><td>Orderbehandler</td><td>Jan F</td></tr>
          <tr><td>Kundenr.</td><td>336733</td></tr>
          <tr><td>Vedrorende</td><td>451006518</td></tr>
          <tr><td>Betalingsformsko</td><td></td></tr>
        </table>
      </div>
    </div>
    <table class="invoice-details">
      <tr class="table-header">
        <th>Nummer</th>
        <th>Beskrivelse</th>
        <th>Antal</th>
        <th>Enhed</th>
        <th>Salgspris</th>
        <th>Belob</th>
      </tr>
      <tr>
        <td></td>
        <td>HYBRID SOLCELLEANLAEG 6,4 KWP</td>
        <td class="text-alight_right"></td>
        <td></td>
        <td class="text-alight_right"></td>
        <td class="text-alight_right">36.663,76</td>
      </tr>
      <tr>
        <td>902000330</td>
        <td>SOLCELLE UL-330W HALF CUT 9BB</td>
        <td class="text-alight_right">20</td>
        <td>Styk</td>
        <td class="text-alight_right"></td>
        <td class="text-alight_right"></td>
      </tr>
      <tr>
        <td></td>
        <td>Forsendelse momspligtig</td>
        <td class="text-alight_right">1</td>
        <td>Styk</td>
        <td class="text-alight_right">640,00</td>
        <td class="text-alight_right">640,00</td>
      </tr>
    </table>
  </div>
</section>
<style>

.content-justify_between{
  display: flex;
  justify-content: space-between;
}
</style>
