<div *ngIf="receiptIsShowing">
  <app-receipt-view [id]="receiptId"></app-receipt-view>
</div>

<div *ngIf="invoiceIsShowing">
  <app-invoice-view [id]="invoiceId"></app-invoice-view>
</div>



<div class="btn-wrapper">
  <button (click)="displayReceipt()" class="print-btn">display receipt</button>
  <button (click)="displayInvoice()" class="print-btn">display invoice</button>
  <button (click)="printReceipt()" class="print-btn">printWindow invoice</button>
  <button (click)="reconnecting()" class="print-btn">reconnecting</button>
  <button (click)="startScanning()" class="print-btn">scann</button>
</div>

